<div class="row">
  <div class="col-md-12 duelTitle">
    <h2>Time to Duel!!</h2>
  </div>
</div>

<div class="row battle">
  <!-- TODO: track wins -->
  <div class="col-md-3 currentUser">
    <%= image_tag @current_user.photo_url%>
    <p id="currUsername"><%= @current_user.username %></p>
    <p>
      HP: <span id="currhp"><%= @current_user.health_points%></span>
    </p>
    <h5>ATTACK</h5>
    <p>Weapon Attack: <%= @currweapon.attack_points%> </p>
    <h5>DEFENSE</h5>
  </div>

  <div id="middleInfo" class="col-md-4 col-md-offset-1">
    <h4>Details of Fight</h4>
    <p class="fightStatus"></p>
    <div id="currweapon">
      <%= image_tag @currweapon.photo_url%>
    </div>
    <div id="oppweapon">
      <%= image_tag @oppweapon.photo_url%>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-1 opponentUser">
    <%= image_tag @opponent.photo_url%>
    <p id="oppUsername"><%= @opponent.username %></p>
    <p>Hp: <%= @opponent.health_points%></p>
    <h5>ATTACK</h5>
    <p>Weapon Attack: <%= @oppweapon.attack_points%> </p>
    <h5>DEFENSE</h5>
  </div>
</div>
