<div class='container-fluid'>
    <div class='row'>
            <!-- Side Bar -->
        <div class='col-sm-3 col-xs-5 sidebar'>
            <!-- TODO: make search go to searched users show page -->
            <!-- Searh Bar -->
            <div class="input-group search">
                <%= form_tag(users_path, :method => "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search Username", class:'searchBox' %>
                <%= submit_tag "Search", class: 'searchButton' %>
                <% end %>

                <% if @users.present? %>
                <%= render @users %>
                <% else %>
                <p>There are no users containing the term(s) <%= params[:search] %>.</p>
                <% end %>
            </div>
            <div class="instructions">
                <h4>How to Play</h4>
                <ol>
                    <li>Walk with your steps tracker (Fitbit, Jawbone, etc)</li>
                    <li>Upload your steps and change them into coins.</li>
                    <li>Use those coins to upgrade your items.</li>
                    <li>Battle other players and utterly defeat them.</li>
                    <li>The more you use your steps tracker and exercise, the more battles you win!</li>
                </ol>
            </div>
        </div>

            <!-- Rank Table -->
        <div class='col-sm-8 col-xs-6 leader chunk'>
            <h2>Leader Board</h2>

            <table class="table">
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Steps</th>
                </tr>

                <%count = 0%>
                <% @users.sort_by{|u| u.steps}.reverse.each do |u| %>
                     <% if count <= 8 %>
                         <tr>
                             <td><%= count += 1 %></td>
                             <td><%= link_to u.username, user_path(u) %></td>
                             <td><%= u.steps %></td>
                         </tr>
                     <% end %>
                 <% end %>
            </table>

        </div>
    </div>
</div>
