
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3 col-xs-5 profile sidebar'>

                    <!-- User Picture and info -->
                <%= image_tag @user.photo_url, size: "200x200"%>
                <h3><%= @user.username%></h3>
                <p><%=link_to "Edit Profile", edit_user_path(@user) if @current_user == @user %></p>
                <p>Steps: <%= @user.steps%></p>
                    <!-- Dual button -->
                <div>
                    <button type="button" class="btn btn-primary">Duel!</button>
                </div>

                    <!-- Search bar -->
            <div class="input-group search">
                <input type="search" name="usersearch" placeholder="Enter a Username" class="form-control" >
                <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
            </div>


        </div>


<!-- TODO: I would really like to figure out how to move the weapon choosing to the sign up page -->
                    <!-- Inventory -->
        <div class='col-sm-6 col-sm-offset-1 col-xs-5 chunk inventory'>
            <h2 class="choose-weapon">Inventory</h2>

                <!-- Show weapon in Inventory -->
            <table class="table">

                    <tr>
                        <div >
                        <td rowspan="4" class="pic-border" ><%= image_tag "#{@weapon.weapon_type}.png"%></td>
                        </div>
                    </tr>
                    <tr>
                        <td class="cell-topic">Weapon Type: </td>
                        <td><%= @weapon.weapon_type.capitalize%></td>
                    </tr>
                    <tr>
                        <td class="cell-topic">Weapon Name: </td>
                        <td><%= @weapon.weapon_name.capitalize%></td>
                    </tr>
                    <tr>
                        <td class="cell-topic">Weapon Attack Points:</td>
                        <td> <%= @weapon.attack_points%></td>
                    </tr>
            </table>

        </div>
    </div>
</div>
