
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3 col-xs-5 profile sidebar'>

                    <!-- User Picture and info -->
                <%= image_tag @user.photo_url, size: "200x200"%>
                <h3><%= @user.username%></h3>
                <p><%=link_to "Edit Profile", edit_user_path(@user) if @current_user == @user %></p>
                <p>Steps: <%= @user.steps%></p>
                    <!-- Dual button -->
                <div>
                    <button type="button" class="btn btn-primary">Dual!</button>
                </div>

                    <!-- Search bar -->
            <div class="input-group search">
                <input type="search" name="usersearch" placeholder="Enter a Username" class="form-control" >
                <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
            </div>


        </div>




                    <!-- Inventory -->
        <div class='col-sm-6 col-sm-offset-1 col-xs-5 chunk inventory'>
            <h2 class="choose-weapon">Inventory</h2>
            <% if !@user.weapon%>
                <!-- Choose weapon if new user -->
                <h4>Please choose a weapon.</h4>
                <p>Note: You will not be able to change this later, so choose wisely young warrior.</p>
                <ul>
                    <% @weapons.each do |weapon| %>
                        <li><a href="/users/<%= @user.id%>/add_weapon?weapon_id=<%= @inventory.weapon_id %>"><%= weapon.weapon_name %></a></li>
                    <% end %>

                </ul>
            <% else%>
                <!-- Show weapon in Inventory -->
            <table class="table">

                    <tr>
                        <div >
                        <td rowspan="4" class="pic-border" ><%= image_tag "#{@user.weapon.weapon_type}.png"%></td>
                        </div>
                    </tr>
                    <tr>
                        <td class="cell-topic">Weapon Type: </td>
                        <td><%= @user.weapon.weapon_type.capitalize%></td>
                    </tr>
                    <tr>
                        <td class="cell-topic">Weapon Name: </td>
                        <td><%= @user.weapon.weapon_name.capitalize%></td>
                    </tr>
                    <tr>
                        <td class="cell-topic">Weapon HP:</td>
                        <td> <%= @user.weapon.attack_points%></td>
                    </tr>
            </table>
            <%end%>
        </div>
    </div>
</div>
