<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3 col-xs-5'>
            <h3>Stuff Over here.</h3>
            <h3><%= @user.username%></h3>
            <p><%= @user.steps%></p>
        </div>
        <div class='col-sm-8 col-xs-6'>
            <h2>Pick Your Weapon</h2>
            <p>You will always have the same weapon so choose wisely.</p>
            <%= link_to "Sword", user_path %>
            <%= link_to "Staff", user_path %>
            <%= link_to "Bow & Arrow", user_path %>

        </div>
    </div>
</div>
