<!DOCTYPE html>
<html>
<head>
  <title>StepsBattle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Eagle+Lake'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <div class='row header-boarder'>
      <div class='col-sm-8 col-xs-7'>

        <h1 class='logo'><%= link_to "Steps Battle", root_url %></h1>
        <% if current_user %>
        <h3><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h3>
        <% else %>
        <h3><%= link_to 'Signup', new_user_registration_path %></h3>
        <h3><%= link_to 'Login', new_user_session_path %></h3>
        <% end %>
        
      </div>


    </div>

    <%= yield %>



  </body>
</html>
