<!DOCTYPE html>
<html>
<head>
  <title>StepsBattle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Passion+One'%>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div>
    <div class='row header-boarder'>
      <div class="col-sm-12 login">
        <ul>
          <% if current_user %>
            <li>  <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>  </li>
          <% else %>
            <div class="signupLogin">
              <li>  <%= link_to 'Signup', new_user_registration_path %>  </li>
              <li>  <%= link_to 'Login', new_user_session_path %>  </li>
            </div>
          <% end %>
        </ul>
      </div>
      <div class='col-sm-12'>


<!-- TODO: style this so that title is centered and login is to the right -->
        <%= link_to image_tag("logo1.png"), {action:'index' , controller: 'users'}%>

      </div>


    </div>

    <%= yield %>



  </body>
</html>
