<!DOCTYPE html>
<html>
<head>
  <title>StepsBattle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Eagle+Lake'%>
  <%= csrf_meta_tags %>
</head>
<body>
    <div>
        <div class='row header-boarder'>
            <div class='col-sm-8 col-xs-7'>
                <h1 class='logo'><%= link_to "Steps Battle", root_url %></h1>
            </div>


    </div>

    <%= yield %>



</body>
</html>
